In [1]:
import matplotlib
import zipfile
import pandas as pd
import json
from tqdm import tqdm
from PIL import Image


DATA_PATH = "/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/data/"

In [2]:
img_path = DATA_PATH + "img"
train_path = DATA_PATH + "train.jsonl"
val_path = DATA_PATH + "dev.jsonl"
test_path = DATA_PATH + "test.jsonl"

In [3]:
val_samples_frame = pd.read_json(val_path, lines=True)
print(val_samples_frame.shape)
val_samples_frame.head()

(500, 4)

,id,img,label,text
0,8291,img/08291.png,1,white people is this a shooting range
1,46971,img/46971.png,1,bravery at its finest
2,3745,img/03745.png,1,your order comes to $37.50 and your white priv...
3,83745,img/83745.png,1,it is time.. to send these parasites back to t...
4,80243,img/80243.png,1,mississippi wind chime

In [4]:
train_samples_frame = pd.read_json(train_path, lines=True)
print(train_samples_frame.shape)
train_samples_frame.head()

(8500, 4)

,id,img,label,text
0,42953,img/42953.png,0,its their character not their color that matters
1,23058,img/23058.png,0,don't be afraid to love again everyone is not ...
2,13894,img/13894.png,0,putting bows on your pet
3,37408,img/37408.png,0,i love everything and everybody! except for sq...
4,82403,img/82403.png,0,"everybody loves chocolate chip cookies, even h..."

In [5]:
test_samples_frame = pd.read_json(test_path, lines=True)
print(test_samples_frame.shape)
test_samples_frame.head()

(1000, 3)

      id            img                                         text
0  16395  img/16395.png                     handjobs sold seperately
1  37405  img/37405.png         introducing fidget spinner for women
2  94180  img/94180.png  happy pride month let's go beat up lesbians
3  54321  img/54321.png       laughs in [majority of u.s crime rate]
4  97015  img/97015.png       finds out those 72 virgins.. are goats

No need to get the images here, we can do this in a wrapper

In [6]:
# tqdm.pandas()

# train_samples_frame['image'] = train_samples_frame['img'].progress_apply(lambda x: Image.open("/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/data/"+x).convert("RGB"))

# test_samples_frame['image'] = test_samples_frame['img'].progress_apply(lambda x: Image.open("/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/data/"+x).convert("RGB"))

# val_samples_frame['image'] = val_samples_frame['img'].progress_apply(lambda x: Image.open("/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/data/"+x).convert("RGB"))

In [18]:
val_samples_frame['split'] = "val"
train_samples_frame['split'] = "train"
test_samples_frame['split'] = "test"

In [19]:
df = pd.concat([val_samples_frame , train_samples_frame , test_samples_frame])
df = df.rename(columns={'img':"img_path"})
df = df.drop('id', axis=1) # now we only have text and

In [21]:
df.to_pickle(f"{DATA_PATH}HatefulMemes.pkl")

In [13]:
import pandas as pd
df = pd.read_pickle("../data/HatefulMemes.pkl")

In [15]:
df

,img_path,label,text,split
0,../../img/08291.png,1.0,white people is this a shooting range,val
1,../../img/46971.png,1.0,bravery at its finest,val
2,../../img/03745.png,1.0,your order comes to $37.50 and your white priv...,val
3,../../img/83745.png,1.0,it is time.. to send these parasites back to t...,val
4,../../img/80243.png,1.0,mississippi wind chime,val
...,...,...,...,...
995,../../img/03869.png,NaN,a mother's love for the child is a divine thing,test
996,../../img/23817.png,NaN,sea monkeys,test
997,../../img/56280.png,NaN,little miss muffet sat on her tuffet,test
998,../../img/29384.png,NaN,they're in a row,test
999,../../img/34127.png,NaN,that feeling when you win a fifa game after be...,test

In [20]:
df['img_path'] = df['img_path'].apply(lambda x: "../../data/"+x[6:])

In [21]:
df

,img_path,label,text,split
0,../../data/img/08291.png,1.0,white people is this a shooting range,val
1,../../data/img/46971.png,1.0,bravery at its finest,val
2,../../data/img/03745.png,1.0,your order comes to $37.50 and your white priv...,val
3,../../data/img/83745.png,1.0,it is time.. to send these parasites back to t...,val
4,../../data/img/80243.png,1.0,mississippi wind chime,val
...,...,...,...,...
995,../../data/img/03869.png,NaN,a mother's love for the child is a divine thing,test
996,../../data/img/23817.png,NaN,sea monkeys,test
997,../../data/img/56280.png,NaN,little miss muffet sat on her tuffet,test
998,../../data/img/29384.png,NaN,they're in a row,test
999,../../data/img/34127.png,NaN,that feeling when you win a fifa game after be...,test

In [22]:
df.to_pickle(f"../data/HatefulMemes.pkl")

In [63]:
import pandas as pd
df = pd.read_pickle(f"../data/HatefulMemes.pkl")

In [3]:
df['split'].value_counts()

train    8500
test     1000
val       500
Name: split, dtype: int64

In [15]:
df_train = df[df["split"] == "train"]
df_test = df[df["split"] == "test"]
df_val = df[df["split"] == "val"]

In [16]:
df_test = df_train.sample(frac = 0.11764705882)

In [17]:
df_test['split'] = "test"

In [18]:
df_test

,img_path,label,text,split
105,img/80521.png,0.0,him: the dishwasher is acting weird her: what'...,test
528,img/95683.png,0.0,"and then i said, mr. president only targets th...",test
8447,img/27604.png,1.0,girls are like jelly beans they're all good. e...,test
3973,img/16892.png,0.0,farrakhan speech at united center in chicago b...,test
6916,img/27391.png,1.0,i said glass of juice not gas the jews,test
...,...,...,...,...
7604,img/96708.png,0.0,even casey anthony cared enough about her daug...,test
2885,img/12374.png,0.0,holding cooking classes for those with disabil...,test
7294,img/72035.png,0.0,"when you see all the dems pushing ""medicare fo...",test
7495,img/61092.png,0.0,think pedophil hould be execut,test
4527,img/50237.png,1.0,cannibalism,test

In [28]:
df_train.drop(rows=df_test.rows)

AttributeError: 'DataFrame' object has no attribute 'rows'

In [34]:
df_train = df_train[~df_train['img_path'].isin(df_test['img_path'])]

In [35]:
df_test

,img_path,label,text,split
105,img/80521.png,0.0,him: the dishwasher is acting weird her: what'...,test
528,img/95683.png,0.0,"and then i said, mr. president only targets th...",test
8447,img/27604.png,1.0,girls are like jelly beans they're all good. e...,test
3973,img/16892.png,0.0,farrakhan speech at united center in chicago b...,test
6916,img/27391.png,1.0,i said glass of juice not gas the jews,test
...,...,...,...,...
7604,img/96708.png,0.0,even casey anthony cared enough about her daug...,test
2885,img/12374.png,0.0,holding cooking classes for those with disabil...,test
7294,img/72035.png,0.0,"when you see all the dems pushing ""medicare fo...",test
7495,img/61092.png,0.0,think pedophil hould be execut,test
4527,img/50237.png,1.0,cannibalism,test

In [36]:
df_train

,img_path,label,text,split
0,img/42953.png,0.0,its their character not their color that matters,train
1,img/23058.png,0.0,don't be afraid to love again everyone is not ...,train
2,img/13894.png,0.0,putting bows on your pet,train
3,img/37408.png,0.0,i love everything and everybody! except for sq...,train
4,img/82403.png,0.0,"everybody loves chocolate chip cookies, even h...",train
...,...,...,...,...
8492,img/83052.png,1.0,when your sister only bangs black guys and get...,train
8494,img/21345.png,1.0,"when you re out in public, and your muslim act...",train
8495,img/10423.png,1.0,nobody wants to hang auschwitz me,train
8497,img/36947.png,1.0,gays on social media: equality! body positivit...,train
8499,img/15937.png,1.0,i hate muslims too they take their religion to...,train

In [37]:
df_val

,img_path,label,text,split
0,img/08291.png,1.0,white people is this a shooting range,val
1,img/46971.png,1.0,bravery at its finest,val
2,img/03745.png,1.0,your order comes to $37.50 and your white priv...,val
3,img/83745.png,1.0,it is time.. to send these parasites back to t...,val
4,img/80243.png,1.0,mississippi wind chime,val
...,...,...,...,...
495,img/83675.png,0.0,i'm gonna be like phelps one day,val
496,img/37198.png,0.0,when you're so relaxed you can feel yourself g...,val
497,img/48670.png,0.0,look at this sandwich maker club i found on wi...,val
498,img/09863.png,0.0,diverse group of women,val
499,img/97320.png,0.0,"""when your dishwasher is broken so you take it...",val

In [38]:
df_ = pd.concat([df_train , df_val , df_test])

In [39]:
df_

,img_path,label,text,split
0,img/42953.png,0.0,its their character not their color that matters,train
1,img/23058.png,0.0,don't be afraid to love again everyone is not ...,train
2,img/13894.png,0.0,putting bows on your pet,train
3,img/37408.png,0.0,i love everything and everybody! except for sq...,train
4,img/82403.png,0.0,"everybody loves chocolate chip cookies, even h...",train
...,...,...,...,...
7604,img/96708.png,0.0,even casey anthony cared enough about her daug...,test
2885,img/12374.png,0.0,holding cooking classes for those with disabil...,test
7294,img/72035.png,0.0,"when you see all the dems pushing ""medicare fo...",test
7495,img/61092.png,0.0,think pedophil hould be execut,test
4527,img/50237.png,1.0,cannibalism,test

In [49]:
df_[df_["label"] == 0.0]['emotion'] = "negative"

/home/prsood/projects/def-whkchun/prsood/sarcasm_venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
import numpy as np
df_['sentiment'] = np.select([df_['label'] == 1.0, df_['label'] == 0.0],
                            ['Positive',  'Negative'], 
                            default='No Change')

In [52]:
df_

,img_path,label,text,split,sentiment
0,img/42953.png,0.0,its their character not their color that matters,train,Negative
1,img/23058.png,0.0,don't be afraid to love again everyone is not ...,train,Negative
2,img/13894.png,0.0,putting bows on your pet,train,Negative
3,img/37408.png,0.0,i love everything and everybody! except for sq...,train,Negative
4,img/82403.png,0.0,"everybody loves chocolate chip cookies, even h...",train,Negative
...,...,...,...,...,...
7604,img/96708.png,0.0,even casey anthony cared enough about her daug...,test,Negative
2885,img/12374.png,0.0,holding cooking classes for those with disabil...,test,Negative
7294,img/72035.png,0.0,"when you see all the dems pushing ""medicare fo...",test,Negative
7495,img/61092.png,0.0,think pedophil hould be execut,test,Negative
4527,img/50237.png,1.0,cannibalism,test,Positive

In [41]:
# df.col1.map(len).max()
df_['text'].map(len).max()

433

In [54]:
df_.drop_duplicates('label').set_index('label').to_dict()['sentiment']

{0.0: 'Negative', 1.0: 'Positive'}

In [43]:
df_.iloc[433]

img_path                                        img/67512.png
label                                                     0.0
text        in alcohols defense i've made some pretty shit...
split                                                   train
Name: 500, dtype: object

In [45]:
len(df_.iloc[433]['text'])

70

In [66]:
df_["label"] = df_["label"].astype(int)

In [67]:
df_

,img_path,label,text,split,sentiment
0,img/42953.png,0,its their character not their color that matters,train,Negative
1,img/23058.png,0,don't be afraid to love again everyone is not ...,train,Negative
2,img/13894.png,0,putting bows on your pet,train,Negative
3,img/37408.png,0,i love everything and everybody! except for sq...,train,Negative
4,img/82403.png,0,"everybody loves chocolate chip cookies, even h...",train,Negative
...,...,...,...,...,...
7604,img/96708.png,0,even casey anthony cared enough about her daug...,test,Negative
2885,img/12374.png,0,holding cooking classes for those with disabil...,test,Negative
7294,img/72035.png,0,"when you see all the dems pushing ""medicare fo...",test,Negative
7495,img/61092.png,0,think pedophil hould be execut,test,Negative
4527,img/50237.png,1,cannibalism,test,Positive

In [8]:
df_.to_pickle(f"../data/HatefulMemes_noTest.pkl")

In [2]:
import pandas as pd
df_ = pd.read_pickle(f"../data/HatefulMemes_noTest.pkl")

In [2]:
len(df_[df_['label'] == 0])

5700

In [4]:
x = "its their character not their color that matters"
len(x.split(" "))

8

In [6]:
df_['length'] = df_['text'].apply(lambda x: len(x.split(" ")))

In [8]:
df_['length']

0        8
1       12
2        5
3       11
4        7
        ..
7604    11
2885    14
7294    26
7495     5
4527     1
Name: length, Length: 9000, dtype: int64

In [9]:
df_['length'].max()

70

In [6]:
df_['img_path'] = df_['img_path'].apply(lambda x: "../../data/" + x)

In [7]:
df_

,img_path,label,text,split,sentiment
0,../../data/img/42953.png,0,its their character not their color that matters,train,Negative
1,../../data/img/23058.png,0,don't be afraid to love again everyone is not ...,train,Negative
2,../../data/img/13894.png,0,putting bows on your pet,train,Negative
3,../../data/img/37408.png,0,i love everything and everybody! except for sq...,train,Negative
4,../../data/img/82403.png,0,"everybody loves chocolate chip cookies, even h...",train,Negative
...,...,...,...,...,...
7604,../../data/img/96708.png,0,even casey anthony cared enough about her daug...,test,Negative
2885,../../data/img/12374.png,0,holding cooking classes for those with disabil...,test,Negative
7294,../../data/img/72035.png,0,"when you see all the dems pushing ""medicare fo...",test,Negative
7495,../../data/img/61092.png,0,think pedophil hould be execut,test,Negative
4527,../../data/img/50237.png,1,cannibalism,test,Positive

In [ ]:
df_['img_path'] = df_['img_path'].apply(lambda x: "../../data/" + x)

In [4]:
x = "../../data/img/2131.png"
x[15:-4]

'2131'

In [9]:
pd.set_option('display.max_rows', 1000)

In [20]:
df_[df_['img_path'] == "../../data/img/01245.png"].to_string()

'                      img_path  label                                                                    text split sentiment\n7696  ../../data/img/01245.png      1  and that was the last nativity play my son was invited to take part in  test  Positive'

In [1]:
x = "../../data/img/01245.png"
x[15:]

'01245.png'

In [ ]:
["when you're feeling horny asf but your habibi is on periods let's try a goat" , "meanwhile at the isis strip club" , "when your human says 'who\'s a good girl?' and you already know it\'s you" , "you can't be racist if there is no other race" , "when your debit card decline at the abortion clinic and they have to put the baby back in" , "ladies! if your man is offended by this he is a faggot. end of story" ,  "you're a special kinda nuts aren't you?"]