In [4]:
import pandas as pd

DATA_PATH = "/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/"

As you may notice, there are NaN values. 

These are from the test set, because the dataset did not label these. 

So technically the proper way to train is to take another portion out of the training set to become our new "test" set. 

And use the proper test set as the final evaluation of the model.

In [5]:
pd.read_pickle(f"{DATA_PATH}HatefulMemes.pkl")

,img_path,label,text,split
0,img/08291.png,1.0,white people is this a shooting range,val
1,img/46971.png,1.0,bravery at its finest,val
2,img/03745.png,1.0,your order comes to $37.50 and your white priv...,val
3,img/83745.png,1.0,it is time.. to send these parasites back to t...,val
4,img/80243.png,1.0,mississippi wind chime,val
...,...,...,...,...
995,img/03869.png,NaN,a mother's love for the child is a divine thing,test
996,img/23817.png,NaN,sea monkeys,test
997,img/56280.png,NaN,little miss muffet sat on her tuffet,test
998,img/29384.png,NaN,they're in a row,test
999,img/34127.png,NaN,that feeling when you win a fifa game after be...,test